<!DOCTYPE HTML>
<html lang="es">
  <meta charset="utf-8"> 
  <title>Web App listing AngularJS</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <body ng-app="listingApp">
    <section ng-controller="listingCtrl">
       <header class="page-header">
          <h1>{{title}}<small>definido en el controlador $scope</small></h1> 
       </header>
       <div class="controls">
        <div class="row">
         <div class="col-md-7">
            <input type="text" ng-model="filters.query" placeholder="Buscar Noticias" class="form-control">
         </div>
         <div class="col-md-2">
          <label for="sortBy">Ordenar por</label>
         </div>        
         <div class="col-md-3">          
            <select id="sortBy" ng-model="descending" class="form-control">
             <option value="true">Lo primero</option>
             <option value="false">Lo mas Antiguo</option> 
            </select>
         </div>
       </div>
        <div class="clear">
          <div ng-repeat="tag in filters.tags" class="checkbox">
             <label for="{{tag.label}}">{{tag.label}}</label>
             <input id="{{tag.label}}" type="checkbox" ng-model="tag.selected">
          </div>
        </div>
       </div>
       <p class="clear">{{filtered.lenght}} articles of {{articles.length}} match your search.</p>
       <ul class="clear">
          <li ng-repeat="article in filtered = (articles | newsFilter:filters) | orderBy:'pubDate':descending | limitTo: viewLimit">
             <h2>{{ article.title}}</h2>
             <p>{{ article.pubDate | date:'dd/MM/YY'}}</p>
             <p>{{ article.description}}</p>            
          </li> 
       </ul>
      <button class="btn btn-primary" ng-click="viewMore(8)" ng-hide="viewLimit >= filtered.lenght"></button>
    </section>
    <section ng-controller="testCtrl">
      <h2>{{ dataFromRoot }}</h2>   
    </section>
    <script type="text/javascript" src="scripts/js/angular.min.js"></script>
    <script type="text/javascript" src="scripts/filters/listingFilters.js"></script>
    <script type="text/javascript" src="scripts/services/listingServices.js"></script>
    <script type="text/javascript" src="scripts/modules/listing.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script> 
  </body>
</html>